.modal {
  position: absolute;
  top: calc(50vh - 525px);
  left: calc(50vw - 600px);
}

.modal__bg {
  position: fixed;
  background-color: black;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.5;
}

.modal__body {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 500px;
  min-height: 200px;
  padding-top: 60px;
  background-color: #fff;
  font-weight: 500;
  font-size: 2em;
  border-radius: 8px;
  img {
    margin: 0 auto;
    max-width: 1200px;
    max-height: 600px;
  }
}

.btn__close {
  position: absolute;
  top: 25px;
  right: 25px;
  :first-child {
    height: 25px;
    cursor: pointer;
  }
}

.modal__information {
  padding-bottom: 30px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  div {
    margin: 5px;
    font-size: 15px;
  }
}

.modal__tags {
  font-size: 15px;
  margin-left: 5px;
  li {
    display: inline;
    margin: 3px;
    padding: 3px;
    background-color: darkgray;
    border: 1px solid darkgray;
    border-radius: 2px;
    color: rgb(14, 14, 14);
  }
}
