.wrapper {
    padding: 2rem;
    height: 130px;
    background-color: rgb(161, 161, 161);
    color: red;
}

.navigation {
    margin: 0;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;

}

.list {
    margin-left: 1.5rem;
    list-style-type: none;
    
}

