.wrapper {
    margin: 50px 50px;
    padding: 10px;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.31); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.31);
    img {
        width: 178px;
        height: 190px;
    }
}

.information_section {
    display: flex;
    align-items: center;
    justify-content: center;
    span {
        margin-left: 10px;
    }
}

.title {
    text-align: center;
    font-size: 15px; 
}

.author {
    font-size: 10px;
}